.Recipes{
    color: black;
    background-color: #fee9e1;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding: 300px 150px;
    border: 1px solid #53cfda;
    margin-top: 0;
    
}
.TomandJerry{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 1500px;
    border: 2px solid #53cfda;
    padding: 8px 16px;
}